Repository vuestorefront/magento2, pull requests merged in 2021-06, with the labels that each got.

#89 refactor: updated composables and theme typings and lang
  packages/composables/src/composables/getters/cartGetters.ts
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/useCategory/index.ts
  packages/composables/src/composables/useReview/index.ts
  packages/composables/src/factories/useReviewFactory.ts
  packages/composables/src/types/composeables.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/components/Checkout/UserBillingAddresses.vue
  packages/theme/components/Checkout/UserShippingAddresses.vue
  packages/theme/components/Checkout/VsfPaymentProvider.vue
  packages/theme/components/Checkout/VsfShippingProvider.vue
  packages/theme/components/InstagramFeed.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MobileStoreBanner.vue
  packages/theme/components/MyAccount/BillingAddressForm.vue
  packages/theme/components/MyAccount/PasswordResetForm.vue
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/ProductsCarousel.vue
  packages/theme/components/SearchResults.vue
  packages/theme/components/UserBillingAddress.vue
  packages/theme/components/UserShippingAddress.vue
  packages/theme/composables/index.ts
  packages/theme/composables/useUiHelpers/index.ts
  packages/theme/composables/useUiNotification/index.ts
  packages/theme/composables/useUiState.ts
  packages/theme/helpers/hooks/getInstance.ts
  packages/theme/helpers/hooks/usei18n.ts
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/ExternalCheckoutThankYou.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Checkout/UserAccount.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/BillingDetails.vue
  packages/theme/pages/MyAccount/MyProfile.vue
  packages/theme/pages/MyAccount/MyReviews.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  packages/theme/pages/Page.vue
  packages/theme/pages/Product.vue
  packages/theme/pages/Shipping.vue
Labels: bug, composables, enhancement, theme

#91 refactor(theme): fixed MyProfile.vue import on MyAccount.vue page
  packages/theme/pages/MyAccount.vue
Labels: bug, theme

#93 feat: added newsletter management to the magento 2 connector
  .eslintignore
  internals/eslint/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/api/createCustomer/index.ts
  packages/api-client/src/api/customer/query.graphql
  packages/api-client/src/api/customerProductReview/index.ts
  packages/api-client/src/api/getMenuCategory/index.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/subscribeEmailToNewsletter/index.ts
  packages/api-client/src/api/subscribeEmailToNewsletter/mutation.graphql
  packages/api-client/src/api/updateCustomer/index.ts
  packages/api-client/src/fragments/customerFragment.graphql
  packages/api-client/src/helpers/magentoLink/graphQl.ts
  packages/api-client/src/link.ts
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/api-client/typings.d.ts
  packages/composables/nuxt/index.js
  packages/composables/src/composables/getters/categoryGetters.ts
  packages/composables/src/composables/getters/checkoutGetters.ts
  packages/composables/src/composables/getters/facetGetters.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useExternalCheckout/index.ts
  packages/composables/src/composables/useGetShippingMethods/index.ts
  packages/composables/src/composables/useNewsletter/index.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useWishlist/guest.ts
  packages/composables/src/factories/useCategorySearchFactory.ts
  packages/composables/src/factories/useContentFactory.ts
  packages/composables/src/factories/useExternalCheckoutFactory.ts
  packages/composables/src/factories/useGetShippingMethodsFactory.ts
  packages/composables/src/factories/useNewsletterFactory.ts
  packages/composables/src/factories/useUrlResolverFactory.ts
  packages/composables/src/index.ts
  packages/composables/src/types/composeables.ts
  packages/composables/src/types/index.ts
  packages/theme/components/LoginModal.vue
  packages/theme/components/SearchResults.vue
  packages/theme/composables/index.ts
  packages/theme/composables/useUiNotification/index.ts
  packages/theme/config.js
  packages/theme/nuxt.config.js
  packages/theme/package.json
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/UserAccount.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/MyNewsletter.vue
  packages/theme/pages/Page.vue
  yarn.lock
Labels: client-api, composables, enhancement, theme

#96 chore: release version 1.0.0-beta.12
  packages/api-client/package.json
  packages/composables/package.json
  packages/theme/package.json
Labels: NPM:beta, release

#97 chore: release version 1.0.0-beta.13
  .github/workflows/publish.yml
  package.json
  packages/api-client/package.json
  packages/composables/package.json
  packages/theme/package.json
  scripts/lib/getTags.js
  scripts/lib/publishApi.js
  scripts/lib/publishComposable.js
  scripts/lib/publishPackages.js
  scripts/publishApi.js
  scripts/publishComposable.js
Labels: NPM:beta, release

#98 chore: release version 1.0.0-beta.14
  packages/api-client/package.json
  packages/composables/package.json
  packages/theme/package.json
Labels: NPM:beta, release

#100 fix: theme configuration files and README.md
  README.md
  packages/api-client/partial-types.js
  packages/api-client/src/types/fragmentTypes.json
  packages/theme/config.js
  packages/theme/nuxt.config.js
Labels: gitflow

#99 feat(theme): adds filter aggregation to the category page
  packages/composables/src/composables/useFacet/_utils.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/theme/pages/Category.vue
Labels: composables, theme

#102 feat: wishlist functionality added to the theme, api-client and composables
  .all-contributorsrc
  README.md
  internals/eslint-typescript/package.json
  internals/eslint-vue/package.json
  package.json
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/api/addProductToWishList/index.ts
  packages/api-client/src/api/addProductToWishList/mutation.graphql
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/removeProductsFromWishlist/index.ts
  packages/api-client/src/api/removeProductsFromWishlist/mutation.graphql
  packages/api-client/src/api/storeConfig/query.graphql
  packages/api-client/src/api/updateCustomerEmail/index.ts
  packages/api-client/src/api/updateCustomerEmail/mutation.graphql
  packages/api-client/src/api/wishlist/query.graphql
  packages/api-client/src/fragments/productFragment.graphql
  packages/api-client/src/fragments/wishlistDataFragment.graphql
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/README.md
  packages/composables/package.json
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/getters/userGetters.ts
  packages/composables/src/composables/getters/wishlistGetters.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useWishlist/guest.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/theme/components/LoginModal.vue
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/theme/components/ProductsCarousel.vue
  packages/theme/composables/useUiState.ts
  packages/theme/lang/en.js
  packages/theme/package.json
  packages/theme/pages/Category.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/MyWishlist.vue
  packages/theme/pages/Product.vue
  yarn.lock
Labels: client-api, composables, theme

#103 refactor(composables): fixed userAddressManipulator.ts wrong input pa…
  packages/composables/src/helpers/userAddressManipulator.ts
Labels: bug, composables
