Repository vuestorefront/magento2, pull requests merged in 2021-12, with the labels that each got.

#253 refactor: fixed pagination for MyOrderHistory and other minor bugs
  packages/api-client/src/api/addBundleProductsToCart/addBundleProductsToCart.ts
  packages/api-client/src/api/addConfigurableProductsToCart/addConfigurableProductsToCart.ts
  packages/api-client/src/api/changeCustomerPassword/changeCustomerPassword.ts
  packages/api-client/src/api/createCustomer/createCustomer.ts
  packages/api-client/src/api/createCustomerAddress/createCustomerAddress.ts
  packages/api-client/src/api/customer/customer.ts
  packages/api-client/src/api/customerOrders/customerOrders.ts
  packages/api-client/src/api/getCustomerAddresses/getCustomerAddresses.ts
  packages/api-client/src/api/updateCustomer/updateCustomer.ts
  packages/api-client/src/api/updateCustomerEmail/updateCustomerEmail.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/useUserOrder/index.ts
  packages/composables/src/dataTypes.ts
  packages/composables/src/getters/facetGetters.ts
  packages/composables/src/getters/orderGetters.ts
  packages/composables/src/getters/storeConfigGetters.ts
  packages/composables/src/getters/storeGetters.ts
  packages/composables/src/getters/userAddressesGetters.ts
  packages/composables/src/getters/userBillingGetters.ts
  packages/composables/src/getters/wishlistGetters.ts
  packages/composables/src/helpers/userAddressManipulator.ts
  packages/composables/src/index.ts
  packages/theme/components/Checkout/VsfShippingProvider.vue
  packages/theme/components/CurrencySelector.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/ProductsCarousel.vue
  packages/theme/components/TopBar.vue
  packages/theme/helpers/cart/addToCart.ts
  packages/theme/helpers/customer/regex.ts
  packages/theme/helpers/magentoConfig/handleChanges.ts
  packages/theme/pages/Category.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/Product.vue
Labels: api-client, theme, composables

#258 fix(theme): 256 customer account - address creation navigation issue
  packages/theme/pages/MyAccount/AddressesDetails.vue
Labels: theme

#289 fix(theme): update cart item key to stop rendering
  packages/theme/components/CartSidebar.vue
Labels: theme

#288 feat(theme): add reusable AddToWishlist component
  packages/theme/components/AddToWishlist.vue
  packages/theme/pages/Product.vue
Labels: enhancement, theme

#315 refactor(theme): fix Vue Router error on store change closes #304
  packages/theme/components/CurrencySelector.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/helpers/magentoConfig/handleChanges.ts
Labels: theme

#312 refactor(theme): fix `Start Shopping` button closes #299
  packages/theme/pages/MyAccount/OrderHistory.vue
Labels: theme

#313 refactor(theme): remove password strength on Login closes #295
  packages/theme/components/LoginModal.vue
Labels: theme

#317 fix(api-client): removed braintree leftover
  packages/api-client/src/api/availableStores/availableStores.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/GraphQL.ts
Labels: bug, api-client

#318 fix(api-client): removed braintree leftover
  packages/api-client/src/api/availableStores/availableStores.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/GraphQL.ts
Labels: bug, api-client

#363 refactor: updated the usage of `customQuery` and applied correct params
  packages/api-client/src/api/changeCustomerPassword/index.ts
  packages/api-client/src/api/generateCustomerToken/index.ts
  packages/api-client/src/api/mergeCarts/index.ts
  packages/api-client/src/types/API.ts
  packages/composables/src/composables/useAddresses/index.ts
  packages/composables/src/composables/useBilling/index.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useCategory/index.ts
  packages/composables/src/composables/useCategorySearch/index.ts
  packages/composables/src/composables/useConfig/index.ts
  packages/composables/src/composables/useContent/index.ts
  packages/composables/src/composables/useCountrySearch/index.ts
  packages/composables/src/composables/useCurrency/index.ts
  packages/composables/src/composables/useExternalCheckout/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/composables/useGetShippingMethods/index.ts
  packages/composables/src/composables/useGuestUser/index.ts
  packages/composables/src/composables/useNewsletter/index.ts
  packages/composables/src/composables/usePaymentProvider/index.ts
  packages/composables/src/composables/useProduct/index.ts
  packages/composables/src/composables/useRelatedProducts/index.ts
  packages/composables/src/composables/useReview/index.ts
  packages/composables/src/composables/useShipping/index.ts
  packages/composables/src/composables/useShippingProvider/index.ts
  packages/composables/src/composables/useStore/index.ts
  packages/composables/src/composables/useUpsellProducts/index.ts
  packages/composables/src/composables/useUrlResolver/index.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useUserBilling/index.ts
  packages/composables/src/composables/useUserOrder/index.ts
  packages/composables/src/composables/useUserShipping/index.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/composables/src/factories/useCartFactory.ts
  packages/composables/src/factories/useCategorySearchFactory.ts
  packages/composables/src/factories/useConfigFactory.ts
  packages/composables/src/factories/useContentFactory.ts
  packages/composables/src/factories/useCountrySearchFactory.ts
  packages/composables/src/factories/useCurrencyFactory.ts
  packages/composables/src/factories/useExternalCheckoutFactory.ts
  packages/composables/src/factories/useForgotPasswordFactory.ts
  packages/composables/src/factories/useGetShippingMethodsFactory.ts
  packages/composables/src/factories/useGuestUserFactory.ts
  packages/composables/src/factories/useNewsletterFactory.ts
  packages/composables/src/factories/usePaymentProviderFactory.ts
  packages/composables/src/factories/useRelatedProductsFactory.ts
  packages/composables/src/factories/useReviewFactory.ts
  packages/composables/src/factories/useStoreFactory.ts
  packages/composables/src/factories/useUpsellProductsFactory.ts
  packages/composables/src/factories/useUrlResolverFactory.ts
  packages/composables/src/factories/useWishlistFactory.ts
  packages/composables/src/types/composables.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/CurrencySelector.vue
  packages/theme/composables/useUrlResolver.ts
  packages/theme/pages/MyAccount/MyProfile.vue
Labels: api-client, theme, composables

#374 refactor(composables): fixed `customQuery` not being called
  packages/composables/src/composables/useAddresses/index.ts
  packages/composables/src/composables/useBilling/index.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useCategory/index.ts
  packages/composables/src/composables/useCategorySearch/index.ts
  packages/composables/src/composables/useConfig/index.ts
  packages/composables/src/composables/useContent/index.ts
  packages/composables/src/composables/useCountrySearch/index.ts
  packages/composables/src/composables/useCurrency/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/composables/useForgotPassword/index.ts
  packages/composables/src/composables/useGetShippingMethods/index.ts
  packages/composables/src/composables/useGuestUser/index.ts
  packages/composables/src/composables/useMakeOrder/index.ts
  packages/composables/src/composables/useNewsletter/index.ts
  packages/composables/src/composables/usePaymentProvider/index.ts
  packages/composables/src/composables/useProduct/index.ts
  packages/composables/src/composables/useRelatedProducts/index.ts
  packages/composables/src/composables/useReview/index.ts
  packages/composables/src/composables/useShipping/index.ts
  packages/composables/src/composables/useShippingProvider/index.ts
  packages/composables/src/composables/useStore/index.ts
  packages/composables/src/composables/useUpsellProducts/index.ts
  packages/composables/src/composables/useUrlResolver/index.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useUserBilling/index.ts
  packages/composables/src/composables/useUserOrder/index.ts
  packages/composables/src/composables/useUserShipping/index.ts
  packages/composables/src/composables/useWishlist/index.ts
Labels: bug, composables
