Repository vuestorefront/magento2, pull requests merged in 2021-08, with the labels that each got.

#124 fix(theme): fixed code import from /src
  packages/theme/components/Checkout/VsfShippingProvider.vue
Labels: gitflow

#128 feat: added cmsBlocks and fixed cmsPage
  packages/api-client/src/api/cmsBlocks/cmsBlocks.ts
  packages/api-client/src/api/cmsBlocks/index.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/useContent/index.ts
  packages/composables/src/factories/useContentFactory.ts
  packages/composables/src/types/composables.ts
  packages/theme/components/ContentBlock.vue
  packages/theme/components/ContentBlocks.vue
  packages/theme/helpers/hooks/useVueRouter.ts
  packages/theme/pages/Page.vue
  packages/theme/routes.js
Labels: client-api, theme, composables

#131 chore: fixed 1.bug-report.yml
  .github/ISSUE_TEMPLATE/1.bug-report.yml
  .github/workflows/gitflow.yml
Labels: gitflow

#129 feat: added groupedProduct view into the Detailed product visualization
  .ncurc.json
  internals/eslint-import/package.json
  internals/eslint-typescript/package.json
  internals/eslint-vue/package.json
  internals/eslint/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/api/groupedProductDetail/groupedProductDetailQuery.ts
  packages/api-client/src/api/groupedProductDetail/index.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/fragments/productPriceRangeFragment.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/useProduct/index.ts
  packages/theme/package.json
  packages/theme/pages/Product.vue
  yarn.lock
Labels: client-api, theme, composables

#135 Bugfix/cart
  packages/api-client/src/api/placeOrder/index.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/useMakeOrder/index.ts
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Product.vue
Labels: api-client, theme, composables, gitflow

#140 fix: fixes the categories sidebar and pagination in Category.vue page
  packages/composables/src/composables/getters/categoryGetters.ts
  packages/theme/package.json
  packages/theme/pages/Category.vue
  yarn.lock
Labels: theme, composables

#137 feat: Improve login and register dialogs errors
  packages/api-client/src/api/createCustomer/index.ts
  packages/api-client/src/api/generateCustomerToken/index.ts
  packages/composables/src/composables/useUser/index.ts
Labels: api-client, composables

#143 fix: update product price and other properties on variant selection
  packages/api-client/src/api/configurableProductDetail/configurableProductDetailQuery.ts
  packages/composables/src/composables/useProduct/index.ts
  packages/theme/pages/Product.vue
Labels: api-client, theme, composables

#167 refactor: redirected to product page in whitelist
  packages/composables/src/composables/getters/wishlistGetters.ts
  packages/theme/components/WishlistSidebar.vue
Labels: theme, composables
