Repository vuestorefront/magento2, pull requests merged in 2021-07, with the labels that each got.

#106 feature: adds addressesManagement theme, composable
  internals/eslint-typescript/package.json
  internals/eslint-vue/package.json
  internals/eslint/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/api/getCustomerAddresses/index.ts
  packages/api-client/src/api/getCustomerAddresses/query.graphql
  packages/api-client/src/api/getMenuCategory/index.ts
  packages/api-client/src/api/getMenuCategory/query.graphql
  packages/api-client/src/api/index.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/getters/index.ts
  packages/composables/src/composables/getters/userAddressesGetters.ts
  packages/composables/src/composables/useAddresses/index.ts
  packages/composables/src/composables/useCategorySearch/index.ts
  packages/composables/src/composables/useConfig/index.ts
  packages/composables/src/composables/useCountrySearch/index.ts
  packages/composables/src/composables/useGetShippingMethods/index.ts
  packages/composables/src/composables/useMenuCategory/index.ts
  packages/composables/src/composables/useUrlResolver/index.ts
  packages/composables/src/factories/useAddressesFactory.ts
  packages/composables/src/factories/useCategorySearchFactory.ts
  packages/composables/src/factories/useConfigFactory.ts
  packages/composables/src/factories/useContentFactory.ts
  packages/composables/src/factories/useCountrySearchFactory.ts
  packages/composables/src/factories/useExternalCheckoutFactory.ts
  packages/composables/src/factories/useGetShippingMethodsFactory.ts
  packages/composables/src/factories/useGuestUserFactory.ts
  packages/composables/src/factories/useNewsletterFactory.ts
  packages/composables/src/factories/usePaymentProviderFactory.ts
  packages/composables/src/factories/useReviewFactory.ts
  packages/composables/src/factories/useUrlResolverFactory.ts
  packages/composables/src/helpers/userAddressManipulator.ts
  packages/composables/src/index.ts
  packages/composables/src/types/composables.ts
  packages/composables/src/types/getters.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/Checkout/UserShippingAddresses.vue
  packages/theme/components/MyAccount/AddressForm.vue
  packages/theme/components/MyAccount/BillingAddressForm.vue
  packages/theme/components/UserAddressDetails.vue
  packages/theme/components/UserShippingAddress.vue
  packages/theme/lang/en.js
  packages/theme/package.json
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/AddressesDetails.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  yarn.lock
Labels: composables, enhancement, theme

#107 feature(docs): unify the docs into the main git timeline
  .github/workflows/docs-deployment.yaml
  .github/workflows/gitflow.yml
  .github/workflows/publish.yml
  .vuestorefrontcloud/docker/docs/Dockerfile
  .vuestorefrontcloud/docker/docs/build-docker.sh
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/public/favicon.png
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/palette.styl
  docs/guide/about.md
  docs/guide/composables/use-billing.md
  docs/guide/composables/use-cart.md
  docs/guide/composables/use-category-search.md
  docs/guide/composables/use-category.md
  docs/guide/composables/use-config.md
  docs/guide/composables/use-country-search.md
  docs/guide/composables/use-external-checkout.md
  docs/guide/composables/use-facet.md
  docs/guide/composables/use-get-shipping-methods.md
  docs/guide/composables/use-guest-user.md
  docs/guide/composables/use-make-oder.md
  docs/guide/composables/use-menu-category.md
  docs/guide/composables/use-page.md
  docs/guide/composables/use-payment-provider.md
  docs/guide/composables/use-product.md
  docs/guide/composables/use-router.md
  docs/guide/composables/use-shipping-provider.md
  docs/guide/composables/use-shipping.md
  docs/guide/composables/use-user-billing.md
  docs/guide/composables/use-user-order.md
  docs/guide/composables/use-user-shipping.md
  docs/guide/composables/use-user-wishlist.md
  docs/guide/composables/use-user.md
  docs/guide/configuration.md
  docs/guide/getting-started.md
  docs/index.md
  docs/package.json
  docs/typedoc.json
  docs/yarn.lock
  package.json
Labels: docs

#108 fix: fixed facet filtering on Category.vue and facetsGetters
  packages/composables/src/composables/useFacet/_utils.ts
  packages/theme/middleware.config.js
  packages/theme/nuxt.config.js
  packages/theme/pages/Category.vue
Labels: composables, theme

#109 chore: updated deployment scripts and actions f57d13a
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/documentation-issue.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/docs-deployment.yaml
  rollup.base.config.js
  scripts/changelog.js
  scripts/lib/publishApi.js
  scripts/lib/publishNpm.js
  scripts/publishApi.js
  scripts/publishComposable.js
Labels: documentation

#105 feat(product): added ConfigurableProduct
  packages/api-client/.env.example
  packages/api-client/src/api/configurableProductDetail/configurableProductDetailQuery.graphql
  packages/api-client/src/fragments/configurableProductOptionsFragment.graphql
  packages/api-client/src/types/GraphQL.ts
  packages/composables/src/composables/getters/cartGetters.ts
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/theme/components/CartSidebar.vue
  packages/theme/pages/Product.vue
Labels: client-api, composables, enhancement, theme

#114 feat(api-client): added agnostic addToCart api
  .ncurc.json
  README.md
  internals/eslint-jest/package.json
  internals/eslint-typescript/package.json
  package.json
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/schema.graphql
  packages/api-client/src/api/addProductsToCart/index.ts
  packages/api-client/src/api/addProductsToCart/mutation.graphql
  packages/api-client/src/api/index.ts
  packages/api-client/src/fragments/completeCartFragment.graphql
  packages/api-client/src/index.ts
  packages/api-client/src/types/API.ts
  packages/api-client/src/types/GraphQL.ts
  packages/composables/README.md
  packages/composables/package.json
  packages/composables/src/composables/getters/cartGetters.ts
  packages/composables/src/composables/getters/productGetters.ts
  packages/composables/src/composables/useCart/index.ts
  packages/theme/README.md
  packages/theme/components/CartSidebar.vue
  packages/theme/components/Checkout/VsfShippingProvider.vue
  packages/theme/package.json
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Product.vue
  yarn.lock
Labels: client-api, composables, theme

#118 fix: fixed the address not beeing saved and updated correctly
  CODE_OF_CONDUCT.md
  package.json
  packages/api-client/src/api/configurableProductDetail/index.ts
  packages/api-client/src/api/customerProductReview/index.ts
  packages/api-client/src/api/getAvailableCustomerPaymentMethods/index.ts
  packages/api-client/src/api/getAvailableCustomerShippingMethods/index.ts
  packages/api-client/src/api/getAvailablePaymentMethods/index.ts
  packages/api-client/src/api/getAvailableShippingMethods/index.ts
  packages/api-client/src/api/getCustomerAddresses/getCustomerAddresses.graphql
  packages/api-client/src/api/getCustomerAddresses/index.ts
  packages/api-client/src/api/productDetail/index.ts
  packages/api-client/src/api/productReview/index.ts
  packages/api-client/src/api/products/index.ts
  packages/api-client/src/api/relatedProduct/index.ts
  packages/api-client/src/api/upsellProduct/index.ts
  packages/composables/src/composables/getters/userAddressesGetters.ts
  packages/composables/src/helpers/userAddressManipulator.ts
  packages/theme/components/MyAccount/AddressForm.vue
Labels: gitflow

#120 chore: updated config.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/test.yml
Labels: gitflow
