Repository vuestorefront/magento2, pull requests merged in 2022-01, with the labels that each got.

#387 fix(theme): fix flashing category page
  packages/theme/pages/Category.vue
Labels: vsf_team

#390 fix(composables): update url resolver clearing patter to remove local…
  packages/composables/src/composables/useUrlResolver/index.ts
Labels: vsf_team

#416 fix(theme): update localisation for all :link bindings
  packages/theme/components/SearchResults.vue
Labels: bug, vsf_team

#421 refactor(theme): enable the currency switcher on `TopBar.vue`
  packages/theme/components/TopBar.vue
  packages/theme/nuxt.config.js
Labels: theme

#431 refactor(theme): changed i18n midl. to plugin & fix store switcher by url
  docs/yarn.lock
  packages/composables/src/dataTypes.ts
  packages/theme/plugins/i18n.ts
  yarn.lock
Labels: theme

#430 refactor(theme): enable the currency switcher on `TopBar.vue`
  packages/theme/components/CurrencySelector.vue
  packages/theme/components/TopBar.vue
  packages/theme/nuxt.config.js
Labels: theme
